* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background: #222;
  padding: 15px 0;
  position: sticky;
  top: 0px;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.logo {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 90vh;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #007bff;
}

.btn {
  margin-top: 20px;
}

.hero button{
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 60px 10%;
  text-align: center;
}

.skill-box span {
  background: #007bff;
  color: white;
  padding: 10px;
  margin: 8px;
  display: inline-block;
  border-radius: 5px;
}

.projects-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  width: 250px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 5px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background: #222;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 15px 0;
  }

   #contact {
    padding: 40px 5%;
  }

  #contactForm {
    padding: 20px;
  }

  #contactForm input,
  #contactForm textarea {
    font-size: 14px;
  }
}


form {
  max-width: 400px;
  margin: auto;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

form button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#error {
  color: red;
  margin-top: 10px;
}
